<div class="input-control text size2">Clavier</div><br/>

<div class="input-control text size2">Alt + A</div>
<div class="input-control text size2">Ajouter une ligne</div><br/><br/>

<div class="input-control text size2">Alt + D</div>
<div class="input-control text size2">Supprimer une ligne sélectionné</div><br/><br/>

<div class="input-control text size2">Souris</div><br/>

<div class="input-control text size2">Double clique sur texte</div>
<div class="input-control text size2">Editer le texte</div><br/><br/>

<div class="input-control text size2">Clique <span class="icon-pencil fg-green large" title="Editer"></span></div>
<div class="input-control text size2">Editer tout l'objet via formulaire</div><br/><br/>

<div class="input-control text size2">Clique <span class="icon-plus fg-green large" title="Saisie"></span></div>
<div class="input-control text size2">Ajouter une ligne</div><br/><br/>

<div class="input-control text size2">Clique <span class="icon-remove fg-green large" title="Supprimer"></span></div>
<div class="input-control text size2">Supprimer la ligne</div><br/><br/>

<div class="input-control text size2">Clique <button >Valider</button></div>
<div class="input-control text size2">Valider une ligne</div><br/>

<div class="input-control text size2">Clique <span class="icon-enter-2 fg-blue large" title="Tout Valider" ></span></div>
<div class="input-control text size2">Valider tout les élements ajoutés</div>
